black[jupyter]==25.9.0
dbt-core==1.9.6
dbt-duckdb==1.9.6
duckdb==1.4.4
fastapi<0.117
flask<3.2
folium<0.19
highspy==1.15.1
ipykernel<7
isort==6.1.0
matplotlib<3.8
nbformat<5.11
nbimporter<0.4
networkx<3.3
nicegui<2
nltk<4
numpy<2
pandas<2.3
plotly<6
prefect==3.4.25
pulp==3.3.0
pyarrow>=18,<21
pyparsing<3.1
pytest<9
requests<2.33
schedule==1.2.2
scikit-learn<1.6
scipy==1.13.1
seaborn<0.13
statsmodels<0.15
streamlit==1.50.0
umap-learn==0.5.7
uvicorn<0.36
